body
{
	font-family: Arial;
	margin: auto auto;
	width: 97%;
}
h4
{
	display: block;
	font-size: 15px;
}
#container
{
	margin: auto auto;
	position: relative;
	width: 97%;
}
#HUD-left,
#HUD-right,
#HUD-timer,
#HUD-legend
{
	background-color: #000000;
	color: #FFFFFF;
	height: 100px;
	opacity: 0.7;
	position: absolute;
	text-align: center;
	width: 15%;
	z-index: 1000;
}
#HUD-left
{
	left: 3%;
	top: 3%;
}
#HUD-right
{
	right: 3%;
	top: 3%;
}
#HUD-timer
{
	bottom: 3%;
	left: 45%;
}
#HUD-legend
{
	bottom: 3%;
	height: auto;
	left: 3%;
	width: 10%;
}
#timer-container,
#legend-container
{
	height: 95%;
	padding-top: 5%;
}
#legend-container h4
{
	margin-bottom: 10%;
}
#legend-container p
{
	display: block;
	font-size: 12px;
	margin-bottom: 5%;
	padding-left: 10%;
	text-align: left;
}
.ammo
{
	display: block;
	float: left;
	font-size: 20px;
	height: 98%;
	text-align: center;
	width: 32%;
}
#slugAmount,
#explosiveAmount,
#shrapnelAmount
{
	padding-top: 90%;
}
.score
{
	display: block;
	float: left;
	font-size: 20px;
	padding-top: 5%;
	text-align: center;
	width: 48%;
}
.score p
{
	margin-top: 20px;
}
.time
{
	display: block;
	float: left;
	font-size: 25px;
	padding-top: 10%;
	text-align: center;
	width: 48%;
}